<div class="grid-container">
        <div class="mat-row">
          <div class="container">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                
                  <!-- Position Column -->
                  <ng-container matColumnDef="board">
                    <th mat-header-cell *matHeaderCellDef> Placa </th>
                    <td mat-cell *matCellDef="let element"> {{element.board}} </td>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Tipo da Multa </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Data da Infração </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="imprimir">
                    <th mat-header-cell *matHeaderCellDef> Imprimir </th>
                    <td mat-cell *matCellDef="let element"> <button mat-mini-fab color="warn" (click)="gerarPDF(element)"><small>Delete</small></button></td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsTicket"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsTicket;"></tr>
                </table>
          </div>
            
        </div>
       
      </div>
